In [2]:
# 유튜브 인기동영상 데이터

In [142]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
# Q. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [ ]:
# 채널별 카운트가 필요하므로 groupby count 또는 value_counts 사용해야할 것 같다.

In [ ]:
# 1-1 groupby count 후 내림차순 정렬해서 상위 10개 channelId 추출

In [100]:
id = df.groupby(by='channelId').count().sort_values(by='title', ascending=False).head(10).index

In [ ]:
# 1-2 상위 10개 channelId를 활용해서 원래 데이터프레임에 넣어주기 (channelTitle을 알아내야 하기 떄문)

In [110]:
new = df[df['channelId'].isin(id)]
new

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
27,새 식구 [총몇명 스토리2],총몇명,1,1274926,33739,728,4373,UCRuSxVu4iqTK5kCh90ntAgA,2021-01-01
32,하루종일 탄산에 빠지면 어떻게 될까?! 물대신 탄산만 먹음...,파뿌리,24,736670,11307,632,5302,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-01-01
76,[병영일기] 부식,짤툰,1,1496529,26284,1422,5710,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-01
79,긴급 회의,총몇명,1,1273557,53472,1243,7679,UCRuSxVu4iqTK5kCh90ntAgA,2021-01-01
...,...,...,...,...,...,...,...,...,...
60241,[짐승친구들] 느그 이름은,짤툰,1,1374286,28365,510,2807,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-19
60242,24시간동안 크림 먹기 VS 팥 먹기!! 어떤 요리가 더 맛있을까?!,파뿌리,24,860037,13053,516,3319,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19
60271,[전참시] 훅 들어오는 남편의 모닝 이벤트부터 SWAG 힙한 딸까지💃 엄마 아이키의...,엠뚜루마뚜루 : MBC 공식 종합 채널,24,3311230,38387,653,1726,UCiwQRG2sCcfjKkgxMEdJGPg,2021-10-19
60305,뼈맞고순살파티,런닝맨 - 스브스 공식 채널,24,1994787,20947,497,2262,UCaKod3X1Tn4c7Ci0iUKcvzQ,2021-10-19
60327,"24시간동안 10,000칼로리 먹기 vs 0칼로리 먹기!! 0칼로리만 먹어도 배부를까?!",파뿌리,24,1571843,19280,773,4624,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19

In [112]:
# channelTitle만 추출하고 이미 상위 10개로 추출했으므로 unique나 drop을 통해 중복을 없애준다.

In [113]:
# 1-3.1

In [117]:
my_answer = list(new['channelTitle'].drop_duplicates())
print(my_answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [144]:
my_answer = list(new['channelTitle'].unique())
print(my_answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [ ]:
# 2-1 value_counts로 channelId별 행 개수를 카운트하고 상위 10개의 인덱스 추출

In [153]:
index = df.value_counts('channelId').head(10).index
index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UCtm_QoN2SIxwCE-59shX7Qg',
       'UClzB2iZ5jPoTNz0S-QU6Wiw', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object', name='channelId')

In [155]:
# 2-2 기존 데이터프레임에서 index를 포함하는 행들 모두 구하기

In [156]:
df[df['channelId'].isin(index)]

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
27,새 식구 [총몇명 스토리2],총몇명,1,1274926,33739,728,4373,UCRuSxVu4iqTK5kCh90ntAgA,2021-01-01
32,하루종일 탄산에 빠지면 어떻게 될까?! 물대신 탄산만 먹음...,파뿌리,24,736670,11307,632,5302,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-01-01
76,[병영일기] 부식,짤툰,1,1496529,26284,1422,5710,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-01
79,긴급 회의,총몇명,1,1273557,53472,1243,7679,UCRuSxVu4iqTK5kCh90ntAgA,2021-01-01
...,...,...,...,...,...,...,...,...,...
60241,[짐승친구들] 느그 이름은,짤툰,1,1374286,28365,510,2807,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-19
60242,24시간동안 크림 먹기 VS 팥 먹기!! 어떤 요리가 더 맛있을까?!,파뿌리,24,860037,13053,516,3319,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19
60271,[전참시] 훅 들어오는 남편의 모닝 이벤트부터 SWAG 힙한 딸까지💃 엄마 아이키의...,엠뚜루마뚜루 : MBC 공식 종합 채널,24,3311230,38387,653,1726,UCiwQRG2sCcfjKkgxMEdJGPg,2021-10-19
60305,뼈맞고순살파티,런닝맨 - 스브스 공식 채널,24,1994787,20947,497,2262,UCaKod3X1Tn4c7Ci0iUKcvzQ,2021-10-19
60327,"24시간동안 10,000칼로리 먹기 vs 0칼로리 먹기!! 0칼로리만 먹어도 배부를까?!",파뿌리,24,1571843,19280,773,4624,UClzB2iZ5jPoTNz0S-QU6Wiw,2021-10-19

In [157]:
# 2-3 channelTItle만 추출하고 unique로 중복 없애서 list로 뽑기

In [160]:
my_answer = list(df[df['channelId'].isin(index)]['channelTitle'].unique())
print(my_answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [6]:
answer =list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [7]:
my_answer == answer

True

In [8]:
# Q. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [211]:
# 1. dislikes가 likes 보다 높다는 조건으로 구하기

In [214]:
new = df[df['dislikes'] > df['likes']]
new

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
1805,"안녕하세요, 핫도그TV입니다.",핫도그TV,24,1610542,16339,26315,26371,UC5Ida86tt8QKa4Myw7idxNg,2021-01-10
2008,"안녕하세요, 핫도그TV입니다.",핫도그TV,24,1926778,16728,30201,28428,UC5Ida86tt8QKa4Myw7idxNg,2021-01-11
2233,"안녕하세요, 핫도그TV입니다.",핫도그TV,24,2093168,16905,32073,29773,UC5Ida86tt8QKa4Myw7idxNg,2021-01-12
2452,"안녕하세요, 핫도그TV입니다.",핫도그TV,24,2180815,17005,32919,30521,UC5Ida86tt8QKa4Myw7idxNg,2021-01-13
2680,"안녕하세요, 핫도그TV입니다.",핫도그TV,24,2232343,17104,33429,30936,UC5Ida86tt8QKa4Myw7idxNg,2021-01-14
...,...,...,...,...,...,...,...,...,...
52344,ALL IN | EP04. 추락,Gen.G esports,20,113017,774,1063,654,UCDmmbxGg8g-EBkC_ku6vybg,2021-09-09
52551,ALL IN | EP05. 불협화음,Gen.G esports,20,135083,889,1116,900,UCDmmbxGg8g-EBkC_ku6vybg,2021-09-10
52554,ALL IN | EP04. 추락,Gen.G esports,20,115047,781,1071,659,UCDmmbxGg8g-EBkC_ku6vybg,2021-09-10
52772,ALL IN | EP05. 불협화음,Gen.G esports,20,138531,902,1148,925,UCDmmbxGg8g-EBkC_ku6vybg,2021-09-11
52776,ALL IN | EP04. 추락,Gen.G esports,20,117669,788,1087,667,UCDmmbxGg8g-EBkC_ku6vybg,2021-09-11

In [215]:
# 2. channelTitle만 추출하고 unique로 중복 제거

In [216]:
my_answer = list(new['channelTitle'].unique())
print(my_answer)

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

In [10]:
answer =list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

In [11]:
my_answer == answer

True

In [12]:
# Q. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라 > 복습 필요

In [ ]:
# channelId는 같지만 channelTitle이 달라진 경우를 구해야 한다.
# channelId만으로 중복을 제거하면,
# 1. channelTitle : 커피, channelId : A
# 2. channelTitle : 카페, channelId : A
# 1만 남게 되어 channelTitle이 달라진 경우를 구할 수 없다.
# 따라서, drop_duplicates()에 리스트 형태로 ['channelTitle', 'channelId']를 넣어주면 원하는 결과를 얻을 수 있을 것이다.

In [ ]:
# 1. channelTitle과 channelId를 기준으로 중복 제거

In [186]:
df_drop = df.drop_duplicates(['channelTitle','channelId'])
df_drop

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
...,...,...,...,...,...,...,...,...,...
60023,"태권도 4단의 발차기실력ㅋㅋㅋ(ft.멸치터트리기,못함주의)#shorts",멸치형,23,726697,10714,989,158,UCsiuN8Jco3LbbuTyGuqRgKg,2021-10-18
60028,끼니 거른 엄마가 국밥을 만나면 생기는 일 🎁이벤트 있음! #Shorts #행보카당,"키키TV, 전지적 예능 시점",24,470316,12940,507,221,UCRnEWJKVc5FpC-9Z3CBt2ZQ,2021-10-18
60035,이사하는 날! 집꾸미기🎀/인싸 인테리어🌿/ 셀프 베란다 타일 /호텔식 수건접기🏠,기용이tv,22,155857,3421,34,338,UCkMN06eC97XL1qR1bExdwWg,2021-10-18
60036,(With Sub) 인싸'S BAR 오픈🍹🍸 : 서울에서 꼭 가봐야 할 장소✨,INSSAOPPA G [인싸오빠],24,69373,9258,17,7549,UCp9G3sWsE42Qo9jgnB1ta2Q,2021-10-18
60068,모여봐요 동물의 숲 Direct 2021.10.15,한국닌텐도 공식 채널,20,219994,0,0,0,UCRCK5FCJtomQT3b88jXI_DA,2021-10-18

In [163]:
# channelId는 같지만 channelTitle이 달라진 경우
# > 한 Id가 여러 Title을 갖고 있는 경우를 말하므로 channelId를 기준으로 groupby count나 value_counts를 활용한다.

In [ ]:
# 2. value_counts를 활용하여 channelId별로 카운트 후 데이터프레임으로 바꿔주기 (시리즈 슬라이싱 법을 잘 모르겠다...)

In [205]:
new = pd.DataFrame(df_drop.value_counts('channelId'))
new

                          0
channelId
UC98TOxKQk4aLcx0EjIK0LkQ  3
UCtQYhzJWFai1y30UIA3uwYQ  3
UCDih-87kuRMA8uFcrx10Wlw  2
UCepUWUpH45hRTi-QePdq1Bg  2
UC9w-h_ciMmX64TcLRcb1xPg  2
...                      ..
UCKUz_7LxgiMXa0lrwzzsKTQ  1
UCKRzvNMudg0lZQ41lafuahg  1
UCKNZsAeQXpvI-Mpoc0ZKhsA  1
UCKFvoxDM0NoLChK9hCe7VfQ  1
UCzz58-H0wzmGoFi3MO_9ePQ  1

[1770 rows x 1 columns]

In [206]:
# 3. new 데이터프레임에서 0 컬럼의 값이 1보다 큰 것들을 슬아이싱하고 길이를 구한다.

In [208]:
my_answer = len(new[new[0] > 1])
print(my_answer)

71

In [241]:
# 번외 - True는 1로 계산되기 때문에 bool 시리즈에서 sum을 하면 바로 길이가 나온다...!!!

In [242]:
(df_drop.value_counts('channelId') > 1).sum()

71

In [14]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

In [16]:
# Q. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가? > 복습 필요

In [17]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
my_answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday', :].value_counts('categoryId').head(1).index[0]
print(my_answer)

24

In [18]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer =df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(answer)

24

In [19]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size().pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [20]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [21]:
# Q. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [22]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [23]:
# comment_count / view_count 가 가장 높은 영상 제목을 확인해야 한다.

In [24]:
# 1. view_count가 분모이기 때문에 0을 제외해야 한다.

In [25]:
new = df.drop(df[df['view_count'] == 0].index, axis=0)

In [26]:
# 2. comment_count / view_count를 해본다.

In [27]:
divided = new['comment_count']/new['view_count'] # 크기 순 정렬이나 최댓값으로 인덱스를 구하면 될 것 같다.
divided

0        0.004539
1        0.007739
2        0.000513
3        0.006566
4        0.006349
           ...
60394    0.005792
60395    0.000710
60396    0.001701
60397    0.000460
60398    0.014212
Length: 60386, dtype: float64

In [28]:
# 3-1. 크기 순 정렬

In [29]:
divided.sort_values(ascending=False) # sort가 작동하지 않는다...ㅠㅠ

50830    0.161516
51047    0.159655
51264    0.153998
52786    0.150693
51494    0.150621
           ...
58650    0.000000
39235    0.000000
46801    0.000000
7265     0.000000
55383    0.000000
Length: 60386, dtype: float64

In [30]:
# 3-2 최댓값

In [31]:
value = max(divided) # max 값
value

0.16151637633416135

In [32]:
divided[divided.isin([value])] # max을 가지고 있는 행

50830    0.161516
dtype: float64

In [33]:
index = divided[divided.isin([value])].index[0] # 인덱스 추출
index

50830

In [34]:
my_answer = df.loc[index, 'title'] # 답
print(my_answer)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [35]:
new = df.drop(df[df['view_count'] == 0].index, axis=0)
divided = new['comment_count']/new['view_count']
index = divided[divided.isin([max(divided)])].index[0]
my_answer = df.loc[index, 'title']
print(my_answer)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [36]:
# Q. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [ ]:
# 1. 우선 like 또는 disklike가 0인 경우 제외, (like와 dislike가 모두 0보다 커야 함)

In [55]:
new = df[(df['likes'] > 0) & (df['dislikes'] > 0)].copy()

In [ ]:
# 2. dislikes / likes 를 최소여야 함

In [57]:
new['dislikes'] / new['likes']

0        0.019085
2        0.033670
3        0.018215
4        0.028331
5        0.013803
           ...
60394    0.012537
60395    0.017653
60396    0.009928
60397    0.020275
60398    0.005456
Length: 59693, dtype: float64

In [ ]:
# 3. 오름차순 (작은 순) 정렬 후 첫번째 인덱스 추출

In [63]:
(new['dislikes'] / new['likes']).sort_values(ascending=True).index[0]

11477

In [ ]:
# 4. 추출한 인덱스를 활용하여 title 값 구하기

In [58]:
my_answer = new.loc[(new['dislikes'] / new['likes']).sort_values(ascending=True).index[0], 'title']
print(my_answer)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

In [64]:
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]
answer = df.iloc[num].title
print(answer)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

In [65]:
my_answer == answer

True

In [66]:
# Q. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [67]:
# 인기 동영상을 가장 많이 제작한 채널의 이름을 묻는 것 같다.

In [68]:
# 1. channelId를 기준으로 count 그룹화 후 최상위 인덱스 추출

In [121]:
index = df.value_counts('channelId').index[0]
index

'UCszFjh7CEfwDb7UUGb4RzCQ'

In [122]:
# 2. 추출한 인덱스를 활용하여 조건으로 넣어주기

In [123]:
df[df['channelId'] == index]

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
76,[병영일기] 부식,짤툰,1,1496529,26284,1422,5710,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-01
325,[병영일기] 부식,짤툰,1,1518445,26402,1442,5730,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-02
558,[병영일기] 부식,짤툰,1,1537676,26511,1453,5752,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-03
778,[병영일기] 부식,짤툰,1,1553145,26603,1455,5760,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-04
999,[병영일기] 부식,짤툰,1,1565338,26659,1456,5768,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-05
...,...,...,...,...,...,...,...,...,...
55966,[짐승친구들] 추석 특집! 욕쟁이 앵무새 VS 짐승친구들,짤툰,1,1419688,27888,517,3411,UCszFjh7CEfwDb7UUGb4RzCQ,2021-09-27
56195,[짐승친구들] 추석 특집! 욕쟁이 앵무새 VS 짐승친구들,짤툰,1,1450622,28089,521,3418,UCszFjh7CEfwDb7UUGb4RzCQ,2021-09-28
59814,[짐승친구들] 느그 이름은,짤툰,1,1014334,24234,399,2495,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-17
60033,[짐승친구들] 느그 이름은,짤툰,1,1237262,27081,461,2705,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-18
60241,[짐승친구들] 느그 이름은,짤툰,1,1374286,28365,510,2807,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-19

In [124]:
# 3. channelTitle로 구체화

In [125]:
df[df['channelId'] == index]['channelTitle']

76       짤툰
325      짤툰
558      짤툰
778      짤툰
999      짤툰
         ..
55966    짤툰
56195    짤툰
59814    짤툰
60033    짤툰
60241    짤툰
Name: channelTitle, Length: 372, dtype: object

In [126]:
# 4. 짤툰이 중복되므로 drop이나 unique를 활용해볼 수 있을 것 같다.

In [127]:
# 4-1 drop 활용

In [141]:
my_answer = df[df['channelId'] == index]['channelTitle'].drop_duplicates().values[0]
print(my_answer)

짤툰

In [129]:
# 4-2 unique 활용

In [95]:
my_answer = df[df['channelId'] == index]['channelTitle'].unique()[0]
print(my_answer)

짤툰

In [94]:
answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

짤툰

In [ ]:
# Q. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는? > 복습 필요

In [ ]:
# title별로 count를 구하면 며칠 동안 포함되었는지 구할 수 있을 것이다.

In [253]:
# 1. title 기준으로 value_counts

In [247]:
new = df.value_counts('title')
new

title
Go Back (고백)                                                            42
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                             24
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05                 24
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                               23
2주더놀릴예정                                                                 23
                                                                        ..
[7회 예고] “지금 눈에 뵈는 거 없어” 유진, 진짜 시작된 복수?!ㅣ펜트하우스2(Penthouse2)ㅣSBS DRAMA     1
먹방 브이로그) 뭔 하루가 처먹다가 끝나네                                                  1
머글 손등에 칼 꽂는 마술                                                           1
(ENG CC) 택견 VS 극진 가라데 -천하제일 무술대회 ep03 l  Taekgyun VS Kyokushinkarate     1
원정상은 진자림이 귀엽다고 생각한다?                                                     1
Length: 7854, dtype: int64

In [ ]:
# 2. 20회 이상 포함된 경우를 구하고 sum으로 길이 구하기

In [252]:
my_answer = (new>=20).sum()
my_answer

41

In [254]:
answer= (df[['title','channelId']].value_counts()>=20).sum()
print(answer)

40

In [ ]:
# 대체 channelId는 왜 포함하는 걸까?