<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EB%8C%80%ED%95%99%EC%9B%90_%EC%9E%85%ED%95%99%EA%B0%80%EB%8A%A5%EC%84%B1_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 대학원 입학가능성 데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

Q. Serial No. 컬럼을 제외하고 ‘Chance of Admit’을 종속변수, 나머지 변수를 독립변수라 할때,  
랜덤포레스트를 통해 회귀 예측을 할 떄 변수중요도 값을 출력하라 (시드값에 따라 순서는 달라질수 있음)

In [2]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [3]:
features = df.columns[1:-1]
target = df.columns[-1]

X = df[features]
y = df[target]

In [4]:
rfr = RandomForestRegressor(random_state=42)

In [5]:
rfr.fit(X, y)

RandomForestRegressor(random_state=42)

In [8]:
my_answer = pd.DataFrame(rfr.feature_importances_, X.columns).sort_values(0, ascending=False)
my_answer.columns = ['importance']
my_answer

                   importance
CGPA                 0.812990
GRE Score            0.083927
TOEFL Score          0.033243
LOR                  0.024799
SOP                  0.024709
University Rating    0.013373
Research             0.006958

In [7]:
from sklearn.ensemble import RandomForestRegressor

df_t = df.drop([df.columns[0]],axis=1)
x = df_t.drop([df.columns[-1]],axis=1)
y = df_t[df.columns[-1]]

ml = RandomForestRegressor(random_state=42)

ml.fit(x,y)

result=pd.DataFrame({'importance':ml.feature_importances_},x.columns).sort_values('importance',ascending=False)
display(result)

                   importance
CGPA                 0.812990
GRE Score            0.083927
TOEFL Score          0.033243
LOR                  0.024799
SOP                  0.024709
University Rating    0.013373
Research             0.006958