<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9B%94%EB%93%9C%EC%BB%B5_%EC%B6%9C%EC%A0%84%EC%84%A0%EC%88%98_%EA%B3%A8%EA%B8%B0%EB%A1%9D_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 월드컵 출전선수 골기록 데이터

In [2]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [3]:
# Q. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [4]:
my_answer = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
my_answer

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [5]:
result = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
display(result)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [6]:
# Q. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [7]:
my_answer = df.value_counts('Country').head(5)
my_answer

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [8]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [9]:
# Q. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다.
# 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [10]:
# IDEA!
# Years 컬럼을 -를 기준으로 스플릿한 행들을 for문으로 돌건데,
# 행에 존재하는 각 요소의 길이가 4가 아닌지 확인하고,
# 4가 아니면 cnt 값을 1씩 증가

In [11]:
cnt = 0
for i in df['Years'].str.split('-'):
  for j in i:
    if len(j) != 4:
      cnt += 1
print(cnt)

45

In [12]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

In [13]:
# Q. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라
# (아래 문제부터는 df2로 풀이하겠습니다)

In [14]:
index = []

In [15]:
for i,j in enumerate(df['Years'].str.split('-')):
  for k in j:
    if len(k) != 4:
      index.append(i)

In [16]:
df2 = df.drop(index)
my_answer = df2.shape[0]
my_answer

1250

In [17]:
df2 = df[df.check ==True].reset_index(drop=True)
print(df2.shape[0])

1250

In [18]:
# Q. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [19]:
index = []

In [20]:
for i,j in enumerate(df2['Years'].str.split('-')):
  if len(j) >= 4:
    index.append(i)

In [21]:
my_answer = len(index)
my_answer

16

In [22]:
df2['LenCup'] =df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

16

In [23]:
my_answer = 0
for i,j in enumerate(df2[df2['Country'] == 'Yugoslavia']['Years'].str.split('-')):
  if len(j) == 2:
    my_answer += 1

In [24]:
my_answer

7

In [25]:
result = len(df2[(df2.LenCup==2) & (df2.Country =='Yugoslavia')])
print(result)

7

In [26]:
# Q. 2002년도에 출전한 전체 선수는 몇명인가?

In [27]:
my_answer = 0
for i in df2['Years'].str.split('-'):
  if '2002' in i:
    my_answer += 1

In [28]:
my_answer

156

In [29]:
result =len(df2[df2.Years.str.contains('2002')])
print(result)

156

In [30]:
# Q. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [31]:
new = df2.copy()

In [32]:
new['Player'] = new['Player'].str.lower()

In [33]:
my_answer = 0
for i,j in enumerate(new['Player']):
  if 'carlos' in j:
    my_answer += 1

In [34]:
my_answer

13

In [35]:
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

13

In [36]:
# Q. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [37]:
# 1. -를 기준으로 스플릿 했을 때 리스트 길이가 1인 경우(월드컵 출전 횟수 1회)의 인덱스 추출

In [38]:
index = []
for i,j in enumerate(df2['Years'].str.split('-')):
  if len(j) == 1:
    index.append(i)

In [39]:
# 2. 추출한 인덱스를 통해 Goals 내림차순 정렬 후 최상위 선수 구하기

In [40]:
my_answer = df2.loc[index, :].sort_values('Goals', ascending=False)['Player'].head(1).values[0]
print(my_answer)

Just Fontaine

In [41]:
result = df2[df2.LenCup==1].sort_values('Goals',ascending=False).Player.values[0]
print(result)

Just Fontaine

In [42]:
# Q. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [43]:
# 1. -를 기준으로 스플릿 했을 때 리스트 길이가 1인 경우(월드컵 출전 횟수 1회)의 인덱스 추출

In [44]:
index = []
for i,j in enumerate(df2['Years'].str.split('-')):
  if len(j) == 1:
    index.append(i)

In [45]:
# 2. 추출한 인덱스를 통해 국가별 카운트 구하고 최상위 국가 구하기

In [46]:
my_answer = df2.loc[index, :].value_counts('Country').index[0]
print(my_answer)

Brazil

In [47]:
result= df2[df2.LenCup==1].Country.value_counts().index[0]
print(result)

Brazil