<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD_%EC%B2%B4%EB%A0%A5%EC%9E%A5_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 대한민국 체력장 데이터

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

Q. 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [2]:
my_answer = (df['수축기혈압(최고) : mmHg']-df['이완기혈압(최저) : mmHg']).mean()
my_answer

52.19539414750672

In [3]:
result  = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
print(result)

52.19539414750672

Q. 50~59세의 신장평균을 구하여라

In [4]:
my_answer = df[(df['측정나이'] >=50)&(df['측정나이']<=59)]['신장 : cm'].mean()
my_answer

164.07490107405314

In [5]:
result = df[(df.측정나이 <60) & (df.측정나이>=50)].iloc[:,2].mean()
print(result)

164.07490107405314

Q. 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [6]:
df['연령대'] = df['측정나이']//10 *10 # *//를 활용하여 연령대를 구하는 아이디어*

In [7]:
my_answer = df.value_counts('연령대')
my_answer

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

In [8]:
df['연령대']  =df.측정나이 //10 *10
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

Q. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [9]:
my_answer = df.groupby(['연령대','등급']).size().reset_index()
my_answer

     연령대 등급     0
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [10]:
result = df.groupby(['연령대','등급'],as_index=False).size()
print(result)

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

Q. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [11]:
df_male = df[df['측정회원성별']=='M']

In [12]:
my_result = abs(df_male[df_male['등급']=='A']['체지방율 : %'].mean() - df_male[df_male['등급']=='D']['체지방율 : %'].mean())
my_result

7.932086486137521

In [13]:
result = abs(df[(df.측정회원성별 =='M') &(df.등급 =='A')].iloc[:,4].mean() -df[(df.측정회원성별 =='M') &(df.등급 =='D')].iloc[:,4].mean())
print(result)

7.932086486137521

Q. 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [14]:
df_female = df[df['측정회원성별']=='F']

In [15]:
my_result = abs(df_female[df_female['등급']=='A']['체중 : kg'].mean() - df_female[df_female['등급']=='D']['체중 : kg'].mean())
my_result

5.176211590296504

In [16]:
result = abs(df[(df.측정회원성별 =='F') &(df.등급 =='A')].iloc[:,3].mean() -df[(df.측정회원성별 =='F') &(df.등급 =='D')].iloc[:,3].mean())
print(result)

5.176211590296504

Q. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [17]:
df['bmi'] = df['체중 : kg']/(df['신장 : cm']/100)**2

In [18]:
my_answer = df.groupby('측정회원성별')['bmi'].mean()['M']
my_answer

24.46134409819308

In [19]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100) **2
result = df[df.측정회원성별 =='M'].bmi.mean()

print(result)

24.46134409819308

Q. bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [20]:
my_answer = df[df['체지방율 : %'] > df['bmi']]['체중 : kg'].mean()
my_answer

61.7408806392542

In [21]:
result =df[df.bmi <df['체지방율 : %']]['체중 : kg'].mean()
print(result)

61.7408806392542

Q. 남성과 여성의 악력 평균의 차이를 구하여라

In [22]:
my_answer = abs(df.groupby('측정회원성별')['악력D : kg'].mean()[0]-df.groupby('측정회원성별')['악력D : kg'].mean()[1])
my_answer

17.55954185047465

In [23]:
target= df.groupby('측정회원성별')['악력D : kg'].mean()

result = target.M - target.F
print(result)

17.55954185047465

Q. 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [24]:
my_answer = abs(df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()[0]-df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()[1])
my_answer

14.243156833157627

In [25]:
target= df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()

result = target.M - target.F
print(result)

14.243156833157627