<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9D%98%EB%A3%8C_%EB%B9%84%EC%9A%A9_%EC%98%88%EC%B8%A1_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 의료 비용 예측 데이터

In [1]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

Q. 흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [6]:
yes = train[train['smoker'] == 'yes']
no = train[train['smoker'] == 'no']

In [14]:
yes_mean = yes[yes['charges'] >= yes['charges'].quantile(0.9)]['charges'].mean()
no_mean = no[no['charges'] >= no['charges'].quantile(0.9)]['charges'].mean()

In [15]:
my_answer = yes_mean - no_mean
my_answer

29297.954548156144

In [16]:
high = train.loc[train.smoker =='yes'].charges.quantile(0.9)
high2 = train.loc[train.smoker =='no'].charges.quantile(0.9)
mean_yes = train.loc[(train.smoker =='yes') &(train.charges >=high)].charges.mean()
mean_no = train.loc[(train.smoker =='no') &(train.charges >=high2)].charges.mean()
answer = mean_yes - mean_no
print(answer)

29297.954548156144