<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%A7%80%EC%97%AD%EA%B5%AC_%EC%97%90%EB%84%88%EC%A7%80_%EC%86%8C%EB%B9%84%EB%9F%89_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 지역구 에너지 소비량 데이터

In [1]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

Q. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [2]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [3]:
my_answer = df['DateTime'].dt.month.value_counts().sort_index()
my_answer

1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
Name: DateTime, dtype: int64

In [4]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
print(result)

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [5]:
month3 = df[df['DateTime'].dt.month == 3]

In [6]:
month3['hour'] = month3['DateTime'].dt.hour

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
my_answer = month3.groupby('hour').mean()['Temperature'].sort_values().values[0]
my_answer

11.506612903225806

In [8]:
target = df[df.DateTime.dt.month ==3]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]
print(result)

11.506612903225806

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [9]:
my_answer = month3.groupby('hour').mean()['Temperature'].sort_values(ascending=False).values[0]
my_answer

18.393602150537635

In [10]:
target = df[df.DateTime.dt.month ==3]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]
print(result)

18.393602150537635

Q. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [11]:
my_answer = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()
my_answer

68.23624448055052

In [12]:
result = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()
print(result)

68.23624448055052

Q. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [13]:
my_answer = df.iloc[:,-3:].corr()
my_answer

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [14]:
result = df.iloc[:,-3:].corr()
display(result)

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Q. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [15]:
new = df.copy()

In [16]:
new['sp'] = None

for i in range(len(new)):
  if new.loc[i,'Temperature'] < 10:
    new.loc[i,'sp'] = 'A'
  elif (new.loc[i,'Temperature'] < 20) and (new.loc[i,'Temperature'] >= 10):
    new.loc[i,'sp'] = 'B'
  elif (new.loc[i,'Temperature'] < 30) and (new.loc[i,'Temperature'] >= 20):
    new.loc[i,'sp'] = 'C'
  else:
    new.loc[i,'sp'] = 'D'

In [17]:
my_answer = new['sp'].value_counts()
my_answer

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

In [18]:
def split_data(x):
    if x<10:
        return "A"
    elif x<20:
        return 'B'
    elif x<30:
        return 'C'
    else:
        return 'D'
    
df['sp'] = df.Temperature.map(split_data)
result = df['sp'].value_counts()
display(result)

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

Q. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [19]:
my_answer = df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()
my_answer

2.0499417827951025

In [20]:
result =df[(df.DateTime.dt.month ==6) & (df.DateTime.dt.hour ==12)].Temperature.std()
print(result)

2.0499417827951025

Q. 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [21]:
my_answer = df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].var()
my_answer

4.202261312849163

In [22]:
result =df[(df.DateTime.dt.month ==6) & (df.DateTime.dt.hour ==12)].Temperature.var()
print(result)

4.202261312849163

Q. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [23]:
my_answer = df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]
my_answer

87.9

In [24]:
result = df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]
print(result)

87.9

Q. **Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [25]:
my_answer = df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature')['Humidity'].values[3]
my_answer

80.3

In [26]:
result = df[df.Temperature >= df.Temperature.median()].sort_values('Temperature').Humidity.values[3]
print(result)

80.3