<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_nba_%EC%84%A0%EC%88%98_%EB%8A%A5%EB%A0%A5%EC%B9%98_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# nba 선수 능력치 데이터

In [1]:
import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

Q. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [2]:
my_answer = df[df['Tm'] == 'TOR']['Age'].mean().round(4)
my_answer

24.8696

In [3]:
result = round(df[df.Tm =='TOR'].Age.mean(),4)
print(result)

24.8696

Q. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [4]:
my_answer = df[df['Age'] == min(df['Age'])]['Pos'].value_counts().index[0]
my_answer

'SG'

In [5]:
result = df[df.Age==df.Age.min()].Pos.value_counts().index[0]
print(result)

SG

Q. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [6]:
new = df.copy()

In [7]:
new['split'] = new['Player'].str.split(' ')

In [8]:
for i in range(len(new)):
  new.iloc[i,-1] = new.iloc[i,-1][0]

In [9]:
my_answer = new['split'].value_counts().head(1)
my_answer

Justin    14
Name: split, dtype: int64

In [10]:
result= df['Player'].str.split().str[0].str.lower().value_counts().head(1)
# str[0]로 시리즈의 각 리스트들에서 [0]번째 요소만 추출, str.lower()로 대소 관계 없이 모두 카운트
print(result)

justin    14
Name: Player, dtype: int64

Q. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [11]:
my_answer  =df.groupby('Pos').mean()['PTS']
my_answer

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [12]:
result = df.groupby('Pos')['PTS'].mean().sort_values()
print(result)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

Q. G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라

In [13]:
my_answer = df.groupby(['Tm','Player']).sum().sort_values(['Tm','G'],ascending=False).groupby('Tm')['G'].head(1).mean()
my_answer

77.51612903225806

In [14]:
result = df.sort_values(['Tm','G']).groupby('Tm').tail(1).G.mean() # !!!
print(result)

77.51612903225806

Q. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [15]:
my_answer = df[(df['Tm'] == 'MIA') & ((df['Pos']=='C') | (df['Pos']=='PF'))]['MP'].mean()
my_answer

16.7875

In [16]:
result = df[(df.Tm =='MIA') & (df.Pos.isin(['C','PF']))].MP.mean() # !!!
print(result)

16.7875

Q. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [17]:
my_answer = df[df['G'] >= df['G'].mean()*1.5]['3P'].mean()
my_answer

1.3853658536585365

In [18]:
result =  df[df.G >= df.G.mean()*1.5]['3P'].mean()
print(result)

1.3853658536585365

Q. Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [19]:
my_answer = df[df['Age'] >= df['Age'].mean()]['G'].mean() - df[df['Age'] < df['Age'].mean()]['G'].mean()
my_answer

3.787674551781862

In [20]:
result = df[df.Age >= df.Age.mean()].G.mean() - df[df.Age < df.Age.mean()].G.mean()
print(result)

3.787674551781862

Q. 평균나이가 가장 젊은 팀은 어디인가

In [21]:
my_answer = df.groupby('Tm')['Age'].mean().sort_values().index[0]
my_answer

'MEM'

In [22]:
result = df.groupby('Tm')['Age'].mean().sort_values().index[0]
print(result)

MEM

Q. Pos그룹별 평균 MP값을 구하여라

In [23]:
my_answer = df.groupby('Pos')['MP'].mean()
my_answer

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

In [24]:
result = df.groupby('Pos')['MP'].mean()
print(result)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64