<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EA%B8%B0%EC%98%A8_%EA%B0%95%EC%88%98%EB%9F%89_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기온 강수량 데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

Q. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [4]:
df['time'] = pd.to_datetime(df['time'])

In [6]:
new = df[(df['time'].dt.month >= 6)&(df['time'].dt.month<=8)]
new

                    time  이화동강수      이화동기온  수영동강수      수영동기온
3648 2020-06-01 00:00:00    0.0  21.100000    0.0  24.799999
3649 2020-06-01 01:00:00    0.0  22.400000    0.0  23.500000
3650 2020-06-01 02:00:00    0.0  23.100000    0.0  23.100000
3651 2020-06-01 03:00:00    0.0  23.100000    0.0  25.400000
3652 2020-06-01 04:00:00    0.0  23.799999    0.0  24.500000
...                  ...    ...        ...    ...        ...
5851 2020-08-31 19:00:00    0.0  24.299999    0.0  24.100000
5852 2020-08-31 20:00:00    0.0  23.900000    0.0  24.200001
5853 2020-08-31 21:00:00    0.0  24.000000    0.0  24.600000
5854 2020-08-31 22:00:00    0.0  24.600000    0.0  24.900000
5855 2020-08-31 23:00:00    0.0  25.000000    0.0  26.900000

[2208 rows x 5 columns]

In [7]:
my_answer = len(new[new['이화동기온'] > new['수영동기온']])
my_answer

1415

In [8]:
df.time = pd.to_datetime(df.time)
summer = df.loc[df.time.dt.month.isin([6,7,8])].reset_index(drop=True)
answer = len(summer.loc[summer['이화동기온'] > summer['수영동기온']])
print(answer)

1415

Q. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [15]:
my_answer1 = df[df['이화동강수'] == max(df['이화동강수'])]['time'].values[0]

In [14]:
my_answer2 = df[df['수영동강수'] == max(df['수영동강수'])]['time'].values[0]

In [16]:
print(my_answer1, my_answer2)

2020-09-30T09:00:00.000000000 2020-07-23T12:00:00.000000000