<a href="https://colab.research.google.com/github/heeeeeho/BigData_Analyst/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%ED%98%84%EB%8C%80_%EC%B0%A8%EB%9F%89_%EA%B0%80%EA%B2%A9_%EB%B6%84%EB%A5%98%EB%AC%B8%EC%A0%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 현대 차량 가격 분류문제 데이터

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

Q. 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [15]:
my_answer = df[df['model'].isin(df.value_counts('model').index[:3])].groupby('model').mean()['price'].to_frame()
my_answer

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

In [16]:
answer =df.loc[df.model.isin(df.model.value_counts().index[:3])].groupby('model').mean()['price'].to_frame()
display(answer)

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373